html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
}

#logo>a {
    font-size: 50px;
    font-weight: bold;
    color: #f96d00;
}

.headerUl {
    display: flex;
    gap: 20px;

}

.headerUl>li>a {
    font-size: 20px;
    color: #f96d00;
}

#logIn {
    color: white;
    padding: 8px 60px;
    background-color: #f96d00;
    border-radius: 10px;
    cursor: pointer;
}

/* section1 */

#section1 {
    width: 100%;
    padding: 30px;
    margin-top: 100px;
    background-color: #222831;
}

.productsDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.productDiv {
    width: 30%;
    padding: 10px;
    display: flex;
    background-color: #393e46;
    border-radius: 20px;
    overflow: hidden;
}

#section1Ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.property {
    font-size: 20px;
    color: #f96d00;
    white-space: nowrap;
}

.pagDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination {
    border: 3px solid red;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    background-color: #222831;
}

.pagination>ul {
    display: flex;
    gap: 10px;
}

.pagination>ul>li {
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.pagination>ul>li:hover {
    background: #393e46;
}

.pagination>ul>li.active {
    background: #f96d00;
    color: white;
}

.theBtn1,
.theBtn2 {
    color: white;
    font-size: 22px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.pagination>i {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#firstArrow {
    transform: rotate(180deg);
}