html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

* {
    box-sizing: border-box;
}


header {
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* gap: 300px; */
}

h1 {
    font-size: 50px;
    color: black;
}

nav ul {
    display: flex;
    gap: 60px;
    font-size: 25px;
}

a {
    color: black;
}

button {
    width: 50px;
    display: none;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

.bar,
button:before,
button:after {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    margin: 6px 0;
    background-color: black;
}

button.isActive:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

button.isActive .bar {
    opacity: 0;
}

button.isActive:after {
    transform: rotate(45deg) translate(-8px, -8px);
}

ul.isActive {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.section1 {
    width: 100%;
    height: 500px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nightModeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.nightModeText {
    color: black;
    font-size: 70px;
}

i {
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
}

header .nightMode {
    background-color: #000000;
}

.section1 .nightMode {
    background-color: black;
}

i .nightMode {
    color: white;
}

li a .nightMode {
    color: white;
}

/* cards */

.cardsSect1 {
    width: 100%;
    padding: 100px;
    background-color: lightskyblue;
}

